# HIV Model

Jocelyn Jimenez and Thomas Jagielski

In [1]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim library
from modsim import *

print('If this cell runs successfully, it produces no output other than this message.')

If this cell runs successfully, it produces no output other than this message.

In [3]:
init = State(r=1000, l=1, e=1, v=1)

r    1000
l       1
e       1
v       1
dtype: int64

In [6]:
system = System(gamma = 0.6,
                tau = 0.1,
                mu = 0.3,
                beta = 0.8,
                alpha = 0.2,
                delta = 0.1,
                pi = 0.9,
                sigma = 0.1,
               rho = 0.3)

gamma    0.6
tau      0.1
mu       0.3
beta     0.8
alpha    0.2
delta    0.1
pi       0.9
sigma    0.1
rho      0.3
dtype: float64

In [7]:
def update_func(init, system):
    dr = (gamma * tau) - (mu * r) -(beta * r *v) 
    dl = (rho * beta * r * v) - (mu * l)- (alpha * l)
    de = ((1-rho) * beta * r * v) + (alpha * l) - (delta * e)
    dv = (pi * e) - (sigma * v)